* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  gap: .5rem;
}
